.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
 background-color: rgb(142, 152, 161);
  
}
body{
background-color: rgb(132, 141, 141);
}